@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Libre, sans-serif;
    font-weight: 300;
    color: #1a365c;
}

/* headings and logo*/

h1, h2 {
    font-family: Roboto,sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #1a365c;
}

#logo {
    float: left;
    font-size: 180%;
    margin-left: 20px;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 3px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #1a365c;
}

.active {
    border-bottom: 1px solid #1a365c;
}

/* hero-image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image.jpeg) no-repeat center center;

    /* animates zoom effect on loading page */

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}


    /* creates the level of zoom for hero image */

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

/* academy story */

#academy-story {
    height: 600px;
}

#left-image-container {
    padding-top: 20px;
    width: 40%;
    float: left;
    
    
}

#welcome-info {
    width: 100%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 20px;
    
}

#welcome-heading {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 20px;
    
}

#aims {
    text-align: center;
    text-decoration: underline;
    margin-bottom: -20px;
}

#right-side-content {
    padding-top: 20px;
    width: 60%;
   /* height: 400px;*/
    float: right;
    
    
    
}

#welcome {
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
}


    


#left-image {
    width: 300px;
    height: 400px;
    padding: 30px;
    border-style: solid;
    border-color: #1a365c;
    border-width: 5px;
    border-radius: 25px;
    margin: 0 auto;
    background: url(../images/street-football.jpeg) no-repeat center center;
}

/* contact details */

#contact_us{
    height: 300px;
}

#contact {
    text-align: center;
    background-color: #9dae5d;
    color: #ffffff;
    width: 100%;
    height: 100px;
    padding: 50px 0;
    
}

#contact-details {
    color: #ffffff;
}



.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    margin: 1%;
    padding: 5%;
    color: #1a365c;
}

/* footer */

footer {
    height: 150px;
    
}

/* Copyright */

.copyright {
    text-align: center;
    
    color: #1a365c;
}

/* Form */

.form-section {
    clear: left;
    background: url();
    background-size: cover;
    background-position: center;
    height: 900px;
}

.signup-form {
    margin:150px 10% 0 0;
    color:#fff;
    background-color:rgba(60, 60, 60, 0.6);
    max-width:400px;
    position:absolute;
    left:10%;
    padding:30px;
}

.signup-form h2{
    color:#fafafa;
    margin-bottom:20px;
}

.text-input {
    background:transparent;
    color:#fafafa;
    width:100%;
    height:25px;
    border:1px solid #fafafa;
    border-radius:2px;
    margin:5px 0 20px 0;
}

.text-input:hover {
    border-color:#f16c6b;
}

    .join-button {
        margin-top:20px;
        border-radius:2px;
        padding:15px 32px 15px 32px;
        text-align:center;
        font-size:100%;
        background-color:#f16c6b;
        color:#fafafa;
        display: block;
    } 
    
    .join-button:hover {
        background-color:#fafafa;
        color:#f16c6b;
    }








